<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
          crossorigin="anonymous">
    <title>HTML Review</title>
<!--  container for metadata (is not displayed on the page)
      title, styles (css), link, scripts, meta and other stuff
-->
</head>
<body>

<b>Welcome to Java Developer Course</b>

<h1 align="center" style="color:blue">Spring boot</h1>
<h2>Spring boot</h2>
<h3>Spring boot</h3>
<h4>Spring boot</h4>
<h5>Spring boot</h5>
<h6>Spring boot</h6>

<img src="https://encrypted-tbn0.gstatic.com/images?
q=tbn:ANd9GcSUNfMe8ot-IvMCdI771ljzY0Otk-QSjFKHzp5Yudn
Kv5OErAubMMCGxGoDf8I_k8ts2uw&usqp=CAU" alt="Spring Boot image">

<ul>
    <li>JAVA</li>
    <li>MVC</li>
    <li>ORM</li>
</ul>

<ol>
    <li>Selenium</li>
    <li>Rest Assured</li>
    <li>JDBC</li>
</ol>

<a href="https://cydeo.com">Cydeo</a>
<br>
<br>
<table>
    <thead>
    <tr>
        <td>Make</td>
        <td>Model</td>
        <td>Year</td>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td>Ford</td>
        <td>Focus</td>
        <td>2010</td>
    </tr>
    <tr>
        <td>Ford</td>
        <td>Escape</td>
        <td>2013</td>
    </tr>
    <tr>
        <td>Honda</td>
        <td>HR-V</td>
        <td>2022</td>
    </tr>


    </tbody>
</table>
<br>
<br>

<label>Username:</label>
<input type="text" name="username">
<br>
<label>Password:</label>
<input type="password">
<br>
<label>Enter your comments</label>
<textarea name="comments"></textarea>

<br>
<label>Please select your gender</label>
<input type="radio" name="gender" value="male">Male
<input type="radio" name="gender" value="female">Female
<input type="radio" name="gender" value="other">other

<br>
<label>Please select your favourite courses</label>
<input type="checkbox" name="course" value="Spring">Spring
<input type="checkbox" name="course" value="DS">DS
<input type="checkbox" name="course" value="Java">Java
<br>
<label>Select your program</label>
<select>
    <option value="select">select</option>
    <option value="us-sdet">US SDET</option>
    <option value="eu-sdet">EU SDET</option>
    <option value="us-jd">US JD</option>
    <option value="jd-al">JD AL</option>
</select>

<form action="#" method="get">
    First Name: <input type="text" name="first_name">
    <br>
    Last Name: <input type="text" name="last_name">
    <br>
    <input type="button" value="submit">
</form>

<div style="background-color: aqua">
    <h3>JAVA DEVELOPER COURSE</h3>
    <ul>
        <li>SPRING</li>
        <li>DATA STRUCTURE</li>
    </ul>
</div>
<br>
<br>
<!-- HOVERABLE -->
<table class="table table-hover">
    <thead>
    <tr>
        <th>#</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">1</th>
        <td>John</td>
        <td>Doe</td>
        <td>jdoe@gmail.com</td>
    </tr>
    <tr>
        <th scope="row">2</th>
        <td>Will</td>
        <td>Johnson</td>
        <td>will@yahoo.com</td>
    </tr>
    <tr>
        <th scope="row">3</th>
        <td>Shannon</td>
        <td>Williams</td>
        <td>shannon@yahoo.com</td>
    </tr>
    </tbody>
</table>

<br>
<br>
<!-- BUTTON TAGS/TYPES -->
<a class="btn btn-primary" href="#" role="button">Link</a>
<button class="btn btn-success" type="submit">Button</button>
<input class="btn btn-light" type="button" value="Input">
<input class="btn btn-warning" type="submit" value="Submit">
<input class="btn btn-info" type="reset" value="Reset">
<br>
<br>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>

</body>
</html>