<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HTML Review</title>
<!--  container for metadata (is not displayed on the page)
      title, styles (css), link, scripts, meta and other stuff
-->
</head>
<body>

<b>Welcome to Java Developer Course</b>

<h1 align="center" style="color:blue">Spring boot</h1>
<h2>Spring boot</h2>
<h3>Spring boot</h3>
<h4>Spring boot</h4>
<h5>Spring boot</h5>
<h6>Spring boot</h6>

<img src="https://encrypted-tbn0.gstatic.com/images?
q=tbn:ANd9GcSUNfMe8ot-IvMCdI771ljzY0Otk-QSjFKHzp5Yudn
Kv5OErAubMMCGxGoDf8I_k8ts2uw&usqp=CAU" alt="Spring Boot image">

<ul>
    <li>JAVA</li>
    <li>MVC</li>
    <li>ORM</li>
</ul>

<ol>
    <li>Selenium</li>
    <li>Rest Assured</li>
    <li>JDBC</li>
</ol>

<a href="https://cydeo.com">Cydeo</a>
<br>
<br>
<table>
    <thead>
    <tr>
        <td>Make</td>
        <td>Model</td>
        <td>Year</td>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td>Ford</td>
        <td>Focus</td>
        <td>2010</td>
    </tr>
    <tr>
        <td>Ford</td>
        <td>Escape</td>
        <td>2013</td>
    </tr>
    <tr>
        <td>Honda</td>
        <td>HR-V</td>
        <td>2022</td>
    </tr>


    </tbody>
</table>
<br>
<br>

<label>Username:</label>
<input type="text" name="username">
<br>
<label>Password:</label>
<input type="password">
<br>
<label>Enter your comments</label>
<textarea name="comments"></textarea>

<br>
<label>Please select your gender</label>
<input type="radio" name="gender" value="male">Male
<input type="radio" name="gender" value="female">Female
<input type="radio" name="gender" value="other">other

<br>
<label>Please select your favourite courses</label>
<input type="checkbox" name="course" value="Spring">Spring
<input type="checkbox" name="course" value="DS">DS
<input type="checkbox" name="course" value="Java">Java

<label>Select your program</label>
<select>
    <option value="select">select</option>
    <option value="us-sdet">US SDET</option>
    <option value="eu-sdet">EU SDET</option>
    <option value="us-jd">US JD</option>
    <option value="jd-al">JD AL</option>
</select>

<form action="#" method="get">
    First Name: <input type="text" name="first_name">
    <br>
    Last Name: <input type="text" name="last_name">
    <br>
    <input type="button" value="submit">
</form>

<div style="background-color: aqua">
    <h3>JAVA DEVELOPER COURSE</h3>
    <ul>
        <li>SPRING</li>
        <li>DATA STRUCTURE</li>
    </ul>
</div>
</body>
</html>